@model IEnumerable<Quartalsarbeit_GR1.Models.Athlete>

@{
    ViewBag.Title = "Athleten";
}

<h2>Athleten</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Athlete", null, new { @class = "btn btn-primary" })
</p>
<table id="athletes" class="table table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Verein</th>
            <th>Geburtstag</th>
            <th>Geschlecht</th>
            <th>Gewicht</th>
            <th>Grösse</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#athletes").DataTable({
                ajax: {
                    url: "/api/Athletes",
                    dataSrc: ""
                },
                columns: [
                   {
                        data: "vorname",
                    },
                    {
                        data: "nachname",
                    },
                    /*{
                        data: "verein",
                        render: function (data, type, club) {
                            return "club.vereinsname";

                    },*/
                    {
                        data: "geburtstag",
                    },
                    {
                        data: "geschlecht",
                    },
                    {
                        data: "gewicht",
                    },
                    {
                        data: "grösse",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-athletes-id=" + data + ">Delete</button><br><button class='btn-link js-edit' data-athletes-id=" + data + ">Edit</button>";
                        }
                    }
                    
                ]
            });


            $("#athlete").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this athlete?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/athletes/" + button.attr("data-athletes-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}



