@using Quartalsarbeit_GR1.Models;
@model Club

@{
    ViewBag.Title = "Athleten";
}

<h2>Athleten</h2>

<div data-club-id="@Model.ID" id="club"></div>

<p>
    @Html.ActionLink("Create New", "AthleteCreate", "Clubs", null, new { @class = "btn btn-primary" })
</p>
<table id="athletes" class="table table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtstag</th>
            <th>Gewicht</th>
            <th>Grösse</th>
            <th>Verein</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var clubID = $("#club").attr("data-club-id").valueOf();

            var table = $("#athletes").DataTable({
                ajax: {
                    url: "/api/Athletes/getByClub/" + clubID,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "vorname",
                    },
                    {
                        data: "nachname",
                    },
                    {
                        data: "geburtstag",
                    },
                    {
                        data: "gewicht",
                    },
                    {
                        data: "groesse",
                    },
                    {
                        data: "verein.vereinsname",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/Clubs/AthleteEdit/" + data + "'>Bearbeiten</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-athlete-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#athletes").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this Club?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Athletes/" + button.attr("data-athlete-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}



