@model IEnumerable<Quartalsarbeit_GR1.Models.Discipline>

@{
    ViewBag.Title = "Discipline";
}

<h2>Disziplinen</h2>

<table id="disziplinen" class="table table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Disziplin</th>
            <th>Abkürzung</th>
            <th>Formel</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#disziplinen").DataTable({
                ajax: {
                    url: "/api/Disciplines",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "bezeichnung",
                        render: function (data, type, discipline) {
                            return "<a href='/disciplines/edit/" + discipline.id + "'>" + discipline.bezeichnung + "</a>";
                        }
                    },
                    {
                        data: "abkuerzung",
                    },
                    {
                        data: "formel",
                    }
                ]
            });

        });
    </script>
}
