@model IEnumerable<Quartalsarbeit_GR1.Models.Category>

@{
    ViewBag.Title = "Category";
}

<h2>Kategorien</h2>
<p>
    @Html.ActionLink("Create New", "Create", "Category", null, new { @class = "btn btn-primary" })
</p>
<table id="categories" class="table table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Min. Alter</th>
            <th>Max. Alter</th>
            <th>Geschlecht</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#categories").DataTable({
                ajax: {
                    url: "/api/Categories",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "bezeichnung",
                        render: function (data, type, discipline) {
                            return "<a href='/Categories/edit/" + discipline.id + "'>" + discipline.bezeichnung + "</a>";
                        }
                    },
                    {
                        data: "minAlter",
                    },
                    {
                        data: "maxAlter",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-categories-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#categories").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this category?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/categories/" + button.attr("data-categories-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}


