@using Quartalsarbeit_GR1.Models;
@model Event

@{
    ViewBag.Title = "Konfiguration";
}

<!-- TODO Side Tool mit Tab von Kategorien und Disziplinen -->

<h1>Konfiguration</h1>


<p>
    <!-- Todo Event mitgeben -->
    @Html.ActionLink("Kategorie hinzufügen", "addCategory", new { id = Model.ID })
</p>

<div data-event-id="@Model.ID" id="event"></div>

<div id="accordion">
    <h3>titel</h3>
    <p>Text Body</p>
</div>


<div class="accordion-body">
    <h1 class="category"></h1>
    <table id="disciplines" class="table table-bordered table-hover" style="width:100%;">
        <thead>
            <tr>
                <th>Disziplin</th>
                <th>Abkürzung</th>
                <th>Formel</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Configurations anzeigen -->

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#accordion").accordion(
                {
                    collapsible: true,
                    event: "click",
                    active: 1
                });

            var configs;
            var eventID = $("#event").attr("data-event-id").valueOf();
            $.ajax({
                url: "/api/Configurations/" + eventID,
                type: 'GET',
                success: function (res) {
                    initTables(res);
                }
            });

            function initTables(res) {
                res.forEach(element => {
                    // init die Sachen
                    $('.accordion-body').append('<div id="div' + element.id + '">' + element.category.bezeichnung + '</div>');
                });

                var table = $("#disciplines").DataTable({
                    data: res[0].disciplines,
                    columns: [
                        {
                            data: "bezeichnung",
                            render: function (data, type, discipline) {
                                return "<a href='/disciplines/edit/" + discipline.id + "'>" + discipline.bezeichnung + "</a>";
                            }
                        },
                        {
                            data: "abkuerzung",
                        },
                        {
                            data: "formel",
                        },
                        {
                            data: "id",
                            render: function (data) {
                                return "<button class='btn-link js-delete' data-discipline-id=" + data + ">Delete</button>";
                            }
                        }
                    ]
                });
            }

        });
    </script>
}
