@using Quartalsarbeit_GR1.Models;
@model List<Configuration>

@{
    ViewBag.Title = "Konfiguration";
}

<!-- TODO Side Tool mit Tab von Kategorien und Disziplinen -->

<h1>Konfiguration</h1>


<p>
    <!-- Todo Event mitgeben -->
    @Html.ActionLink("Kategorie hinzufügen", "addCategory")
</p>

@foreach (Configuration config in Model)
{
    <h2>
        @config.Kategorie
    </h2>
    <h3>
        @config.Disziplin
    </h3>


}