@using Quartalsarbeit_GR1.Models;
@model Event

@{
    ViewBag.Title = "Konfiguration";
}

<!-- TODO Side Tool mit Tab von Kategorien und Disziplinen -->

<h1>Konfiguration</h1>


<p>
    <!-- Todo Event mitgeben -->
    @Html.ActionLink("Kategorie hinzufügen", "addCategory", new { id = Model.ID })
</p>

<div data-event-id="@Model.ID" id="event"></div>



<!-- Configurations anzeigen -->

@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                //url: "/api/Configurations?id=" + $("#event").attr("data-event-id").valueOf(),
                url: "/api/Configurations",
                type: 'GET',
                success: function (res) {
                    console.log(res);
                }
            });

            // Anzeige der bisherigen Kategoriend


        });
    </script>
}
