@model IEnumerable<Quartalsarbeit_GR1.Models.Event>

@{
    ViewBag.Title = "Anlaesse";
}

<h2>Anlässe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="events" class="table table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Ort</th>
            <th>Datum</th>
            <th>Konfiguration</th>
            <th>Teilnehmer</th>
            <th>Statistik</th>
            <th>Startnummer Block</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#events").DataTable({
                ajax: {
                    url: "/api/Events",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "bezeichnung",
                    },
                    {
                        data: "ort",
                    },
                    {
                        data: "datum",
                    },
                    {
                        data: "id",
                        render: function (data, type, event) {
                            return "<a href='/events/Configuration/" + event.id + "'>Konfiguration</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, event) {
                            return "<a href='/events/participants/" + event.id + "'>Teilnehmer</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, event) {
                            return "<a href='/events/statistics/" + event.id + "'>Statistik</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, event) {
                            return "<a href='/events/StartNumberConfiguration/" + event.id + "'>Startnummernblock</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, event) {
                            return "<a href='/events/edit/" + event.id + "'>Bearbeiten</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-athlete-id=" + data + ">Löschen</button>";
                        }
                    }
                ]
            });
        });
    </script>
}