@using Quartalsarbeit_GR1.Models;
@model Event

@{
    ViewBag.Title = "Teilnehmer";
}

<h2>Teilnehmer</h2>

<form id="Participants">

    <div data-event="@Model.ID" id="event"></div>

    <table id="participants" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Teilnehmen</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Verein</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            var eventID = $("#event").attr("data-event").valueOf();

            var table = $("#participants").DataTable({
                ajax: {
                    url: "/api/Participants/" + eventID,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "teilnahme",
                        render: function (data) {
                            return "<input class='form-check-input' type='checkbox' value=" + data + ">";
                        }
                    },
                    {
                        data: "athlete.vorname",
                    },
                    {
                        data: "athlete.nachname"
                    },
                    {
                        data: "athlete.verein.vereinsname"
                    },

                ]
            });

            $("#Participants").submit(function (event) {
                var data = table.data();
                console.log(data[0]);
                console.log(eventID);
                event.preventDefault();

                $.ajax({
                    url: "/api/Participants/" + eventID,
                    method: "post",
                    data: data
                })
                    .done(function () {
                        toastr.success("Teilnehmer gespeichert");
                    })
                    .fail(function () {
                        toastr.error("Teilnehmer nicht gespeichert");
                    });

                return false;
            });

        });
    </script>
}
