@using Quartalsarbeit_GR1.Models;
@using System.Web.Mvc;
@model Tuple<List<Kategorie>, List<Disziplin>>
@{
    ViewBag.Title = "Add";
}

<form id="newKonfig">
    <div class="form-group">
        <label>Kategorie</label>
        <div class="tt-container">
            <input id="kategorie" name="kategorie" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Disziplin</label>
        <div class="tt-container">
            <input id="disziplin" name="disziplin" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="disziplinen" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

             var disciplines = '@Model.Item1';
             console.log(disciplines);

            var vm = {
                disziplinIds: []
            };

            var kategorien = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Bezeichnung'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/kategorie?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#kategorie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'Kategorie',
                display: 'Bezeichnung',
                source: @Model.Item1.ToArray()
            }).on("typeahead:select", function (e, kategorie) {
                console.log(kategorie.Bezeichnung);
                vm.kategorieId = kategorie.id;
            });

            var disziplinen = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Bezeichnung'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/disziplinen?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#disziplin').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'Disziplin',
                display: 'Bezeichnung',
                source: @Model.Item2.ToArray()
            }).on("typeahead:select", function (e, disziplin) {
                $("#disziplinen").append("<li class='list-group-item'>" + disziplin.Bezeichnung + "</li>");

                $("#disziplin").typeahead("val", "");

                vm.disziplinIds.push(disziplin.ID);
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.kategorieId && vm.kategorie !== 0;
            }, "Please select a valid kategorie.");

            $.validator.addMethod("atLeastOneMovie", function () {
                return vm.disziplinIds.length > 0;
            }, "Please select at least one discipline.");

            var validator = $("#newKonfig").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newKonfig",
                        method: "post",
                        data: vm
                    })
                        .done(function () {
                            toastr.success("Rentals successfully recorded.");

                            $("#kategorie").typeahead("val", "");
                            $("#disziplin").typeahead("val", "");
                            $("#disziplinen").empty();

                            vm = { disziplinIds: [] };

                            validator.resetForm();
                        })
                        .fail(function () {
                            toastr.error("Something unexpected happened.");
                        });

                    return false;
                }
            });
        });
    </script>
}
