@using Quartalsarbeit_GR1.Models;
@model Tuple<List<Config>, List<Kategorie>, List<Disziplin>>

@{
    ViewBag.Title = "Konfiguration";
}

<!-- TODO Side Tool mit Tab von Kategorien und Disziplinen -->

<h1>Konfiguration</h1>

@foreach (Config config in Model.Item1)
{
    <h2>
       @config.Kategorie

    </h2>

    foreach (var item in config.Disziplinen)
    {
        @item.Bezeichnung
    }


}

<h1>Disziplinen & Kategorien</h1>

<div class="sidebar">
    <div>
        @foreach (Disziplin discipline in Model.Item3)
        {
            <div>
                @discipline.Bezeichnung
            </div>
        }
    </div>
    <div>
        @foreach (Kategorie categorie in Model.Item2)
        {
            <div>
                @categorie.Bezeichnung
            </div>
        }
    </div>
</div>